.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #d4d8e0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  background-color: rgb(23, 68, 159);
  color: #e4e7ec;
}

.Header {
  text-align: center;
  height: 100%;
  width: 100%
}

.MainContent {
  padding-top: 17%;
}

#WhiteButton {
  background-color:#e4e7ec;
  color:  rgb(23, 68, 159);
}

#WhiteButton-left {
  background-color:#e4e7ec;
  color:  rgb(23, 68, 159);
  margin-left: 1%;
}

#WhiteButton-bottom {
  background-color:#e4e7ec;
  color:  rgb(23, 68, 159);
  margin-top: 1%;
}

#AnswerButtons {
  text-align: center;
}

#ResultCard {
  text-align: center;
  background-color:#e4e7ec;
  color:  rgb(23, 68, 159);
  margin-left: 3%;
  margin-right: 3%;
  margin-top: -3%;
  border-radius: 20px;
  display: block;
  overflow: auto;
}

#videoFrame {
  padding-bottom: 1%;
}

#Description {
  color: #3d3e3f;
}

#Header-Buttons {
  margin-left:1%;
}

#Header-Button {
  margin-left:9%;
}